// MAIN SASS FILE

//IMPORTS
@import 'helpers/reset';

//VARIABLES
$imgSize: 100px;

//PLACEHOLDERS
%button {

}

//IDS

body {

  background-color: #EFEFEF;

}

#box {

  height:     auto;
  min-height: 250px;
  width:      350px;
  background-color: #FFF;
  border-radius: 3px;
  margin: 50px auto 0 auto;
  text-align: center;
  padding: 0 0 40px 0;

  img {

    height: $imgSize;
    width:  $imgSize;
    margin: 30px auto 0 auto;

  }

  h1 {

    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
    margin: 25px 0 0 0;

  }

  h2 {

    @extend h1;
    font-size: 16px;
    margin: 15px 0 0 0;
    font-weight: 500;
    color: #555;

  }

  h3 {

    @extend h1;
    font-size: 16px;
    margin: 40px 0 0 0;
    font-weight: 500;
    color: #555;

  }

  h4 {

    @extend h1;
    font-size: 12px;
    margin: 40px 0 0 0;
    font-weight: 500;
    color: #3DA6EB;
    cursor: pointer;
    -webkit-user-select: none;

  }

  hr {

    border: 1px dashed #CCC;
    width: 80%;
    margin: 20px auto 20px auto;

  }

  input[type="text"] {

    width: 80%;
    height: 30px;
    line-height: 30px;
    padding: 8px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px solid #EFEFEF;
    outline: none;
    box-shadow: none;
    text-align: center;

    &:focus {
      outline: none;
    }

  }

  button {

    height: 40px;
    width: 85%;
    background-color: #3DA6EB;
    font-family: sans-serif;
    font-size: 18px;
    color: #FFF;
    outline: none;
    border: 0;
    cursor: pointer;

  }

  ul {

    margin: 10px 0 0 0;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    background-color: #CCC;

    li {
      background-color: #FFF;
      padding: 20px;
      border-bottom: 1px solid #EEE;
      cursor: pointer;

      &:first-child {

        border-top: 1px solid #EEE;

      }

      &:nth-child(odd) {

        background-color: #F9F9F9;

      }
    }


  }

}
