// MAIN SASS FILE

//IMPORTS
@import 'helpers/reset';

//VARIABLES
$squareSize: 150px;

div {

  height: $squareSize;
  width:  $squareSize;
  line-height: $squareSize;
  margin: 50px;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-family: sans-serif;

}
